<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY">

  <title>Embaixadores da Matemática</title>

  <!-- Styles -->
  <link href="http://embaixadores.ime.usp.br/css/app.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />


  <link href="http://embaixadores.ime.usp.br/css/fontawesome-all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />


  <!-- Scripts -->
  <script>
  window.Laravel = {"csrfToken":"uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY"};
    </script>
    <link href="//embaixadores.ime.usp.br/captcha-handler?get=bdc-layout-stylesheet.css" type="text/css" rel="stylesheet">
  </head>


  <body>
    <div id="app">
      <!------------------------ logo embaixadores ------------------ -->
      <div class="container-fluid wrap" style="background-color: #ffffff; padding-top: 10px; padding-bottom:10px">
        <div class="row">
          <div class="col-md-9 col-md-offset-3"  >
            <a href="/" title="Embaixadores da Matemática" >
              <img class="header-logo" src="http://embaixadores.ime.usp.br/img/logo_embaixadores.png" alt="Embaixadores da Matemática" title="Embaixadores da Matemática"  />
            </a>
          </div>
        </div>
      </div>
      <!-- fim do logo embaixadores -->

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->

          </div>

          <div class="navbar-collapse collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->

            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br"><i class="fas fa-home"></i> Página inicial</a></li>
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br/realizadas"><i class="fas fa-thumbs-up"></i> Palestras realizadas</a></li>
            </ul>


            <!-- ul criada -->
            <ul class="nav navbar-nav">
                          </ul>
            <!-- fim da ul criada -->


            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

              
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
  


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="text-center">
        <h1>Produzindo mesas e cadeiras</h1>
        Maria do Socorro Nogueira Rangel (para a região de São José do Rio Preto e arredores)

                  <br>
          UNESP São José do Rio Preto
        
                  <br>
          <a href="http://www.ibilce.unesp.br/#!/departamentos/matematica-aplicada/docentes/socorro/palestras" target="_blank">http://www.ibilce.unesp.br/#!/departamentos/matematica-aplicada/docentes/socorro/palestras</a>
              </div>

                      
            


      <div class="text-justify">
        <h2>Objetivo</h2>

<p>Abordar a otimiza&ccedil;&atilde;o linear cont&iacute;nua de forma simples, permitindo a aplica&ccedil;&atilde;o de atividades divertidas e din&acirc;micas nas escolas a fim de estimular o interesse dos alunos no estudo de Matem&aacute;tica. A atividade proposta tem car&aacute;ter interdisciplinar e consiste em determinar o planejamento da produ&ccedil;&atilde;o de mesas e cadeiras.</p>

<h2>Resumo</h2>

<p>Usamos o contexto de uma f&aacute;brica de m&oacute;veis para introduzir conceitos de modelagem e otimiza&ccedil;&atilde;o. Dois problemas s&atilde;o abordados. O primeiro problema &eacute; o determinar o n&uacute;mero de mesas e cadeiras a serem produzidas supondo conhecidas a quantidade de mat&eacute;ria prima dispon&iacute;vel (pe&ccedil;as de &ldquo;lego&rdquo; retangulares de dois tamanhos) e valor de cada m&oacute;vel (um problema de otimiza&ccedil;&atilde;o linear cont&iacute;nua). O segundo problema consiste em determinar como cortar objetos retangulares grandes em pe&ccedil;as retangulares menores (problema de corte bidimensional, padr&atilde;o de corte).</p>

<h2>Requisitos e P&uacute;blico Alvo</h2>

<p>Fundamental II completo.</p>

<h2>Recursos</h2>

<p>Papel, quadro de giz ou branco, ou &ldquo;flip chart&rdquo;. Se poss&iacute;vel projetor multim&iacute;dia e tela (ou parede branca) para as ilustra&ccedil;&otilde;es, preferivelmente com computador.</p>

<h2>Dura&ccedil;&atilde;o</h2>

<p>Duas horas, aproximadamente.</p>

<h2>Avalia&ccedil;&atilde;o</h2>

<p>No fim da atividade, os participantes fazem uma breve avalia&ccedil;&atilde;o respondendo as seguintes perguntas: 1. Qual foi a coisa mais importante que aprendeu? 2. Qual foi a maior d&uacute;vida que ficou? 3. Coment&aacute;rios.</p>

<h2>Bibliografia</h2>

<p>1. Pendergraft, N. &ldquo; Lego of my simplex&rdquo;, ORMS Today, v. 24, n.1, 1997.<br />
2. Rangel, S.; Figueiredo, A. G. de . O problema de corte de estoque em ind&uacute;strias de m&oacute;veis de pequeno e m&eacute;dio portes. Pesquisa Operacional, v. 28, p. 451-472, 2008.(dispon&iacute;vel em <a href="http://www.scielo.br/pdf/pope/v28n3/v28n3a04.pdf">http://www.scielo.br/pdf/pope/v28n3/v28n3a04.pdf</a> )<br />
3. Rangel, S. &ldquo;Introdu&ccedil;&atilde;o &agrave; constru&ccedil;&atilde;o de modelos de otimiza&ccedil;&atilde;o linear e inteira&rdquo;. 1. ed. S&atilde;o Carlos-SP: Sociedade Brasileira de Matem&aacute;tica Aplicada e Computacional-SBMAC, 2012. v. &uacute;nico. 82 p. 2&ordf; Edi&ccedil;&atilde;o (dispon&iacute;vel em <a href="http://www.sbmac.org.br/arquivos/notas/livro_18.pdf">http://www.sbmac.org.br/arquivos/notas/livro_18.pdf</a> )<br />
4. Tunala, N., &ldquo;Um procedimento Geom&eacute;trico para a otimiza&ccedil;&atilde;o linear no plano&rdquo;, Revista do Professor de Matem&aacute;tica, n. 31, 1996.</p>

<p>&nbsp;</p>
      </div>

    </div>




  </div>
    </div>

    <footer id="t3-footer" class="wrap t3-footer" style="background-color: #eeeeee; padding: 10px;">
      <div class="container" >


        <div class="row">
          <div class="col-md-1">
            <a href="http://www.ime.usp.br" target="_blank" >
              <img src="http://embaixadores.ime.usp.br/img/logo_ime.png">
            </a>
          </div>
          <div class="col-md-4">
            <b>Embaixadores da Matemática</b>

            <br><a href="http://www.ime.usp.br/ccex">Comissão de Cultura e Extensão</a>
            <br><a href="http://www.ime.usp.br">Instituto de Matemática e Estatística</a>
            <br><a href="http://www.usp.br">Universidade de São Paulo</a>

          </div>



          <div class="col-md-5 col-md-offset-2">
            <b>Contato</b>
            <br> Secretaria da CCEx do IME-USP

            <br> <i class="fas fa-location-arrow"></i> Rua do Matão, 1010 - CEP 05508-090 - São Paulo - SP</a>
            <br> <i class="fas fa-phone"></i>  (11) 3091-6170
            <br><i class="fas fa-envelope"></i>  <a href="mailto:ccex@ime.usp.br">ccex@ime.usp.br</a>
          </div>

        </div>
      </div>
    </footer>


  </div>

  <script src="http://embaixadores.ime.usp.br/js/app.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/vendor/unisharp/laravel-ckeditor/ckeditor.js"></script>
  <script>
  CKEDITOR.config.height = 500;
  CKEDITOR.config.removePlugins += "stylescombo,sourcearea,maximize";
  CKEDITOR.replace( 'palestra_single_form' );
  </script>



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123918243-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123918243-1');
  </script>


</body>
</html>
