<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY">

  <title>Embaixadores da Matemática</title>

  <!-- Styles -->
  <link href="http://embaixadores.ime.usp.br/css/app.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />


  <link href="http://embaixadores.ime.usp.br/css/fontawesome-all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />


  <!-- Scripts -->
  <script>
  window.Laravel = {"csrfToken":"uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY"};
    </script>
    <link href="//embaixadores.ime.usp.br/captcha-handler?get=bdc-layout-stylesheet.css" type="text/css" rel="stylesheet">
  </head>


  <body>
    <div id="app">
      <!------------------------ logo embaixadores ------------------ -->
      <div class="container-fluid wrap" style="background-color: #ffffff; padding-top: 10px; padding-bottom:10px">
        <div class="row">
          <div class="col-md-9 col-md-offset-3"  >
            <a href="/" title="Embaixadores da Matemática" >
              <img class="header-logo" src="http://embaixadores.ime.usp.br/img/logo_embaixadores.png" alt="Embaixadores da Matemática" title="Embaixadores da Matemática"  />
            </a>
          </div>
        </div>
      </div>
      <!-- fim do logo embaixadores -->

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->

          </div>

          <div class="navbar-collapse collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->

            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br"><i class="fas fa-home"></i> Página inicial</a></li>
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br/realizadas"><i class="fas fa-thumbs-up"></i> Palestras realizadas</a></li>
            </ul>


            <!-- ul criada -->
            <ul class="nav navbar-nav">
                          </ul>
            <!-- fim da ul criada -->


            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

              
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
  


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="text-center">
        <h1>O Computador a Papel: uma introdução ao funcionamento lógico dos computadores</h1>
        Valdemar W. Setzer

                  <br>
          IME-USP
        
                  <br>
          <a href="http://www.ime.usp.br/~vwsetzer" target="_blank">http://www.ime.usp.br/~vwsetzer</a>
              </div>

            


      <div class="text-justify">
        <h2>Objetivo</h2>

<p>Esta palestra/oficina tem a inten&ccedil;&atilde;o de mostrar como funciona um computador no n&iacute;vel l&oacute;gico da linguagem de m&aacute;quina. Esta aula, quando dada para alunos e professores, &eacute; parte do projeto Embaixadores da Matem&aacute;tica do IME.</p>

<h2>Resumo</h2>

<p>Montagem de um teatrinho com os participantes, onde cada um simula uma unidade dos circuitos de um computador. Um programa, cujas instru&ccedil;&otilde;es s&atilde;o escritas sob forma de texto em tabuletas, &eacute; inserido na &quot;mem&oacute;ria&quot; do computador. Em seguida, um participante que faz o papel do processador central (CPU) come&ccedil;a a interpretar o programa, e os participantes t&ecirc;m que descobrir o que o programa executa. Em seguida &eacute; introduzida uma linguagem de m&aacute;quina (a linguagem mais b&aacute;sica usada por qualquer computador) extremamente simples, do computador hipot&eacute;tico HIPO, codificando as instru&ccedil;&otilde;es que estavam em forma de texto. Apresenta&ccedil;&atilde;o do simulador do HIPO.</p>

<h2>Requisitos</h2>

<p>N&atilde;o h&aacute; requisitos.</p>

<h2>P&uacute;blico Alvo</h2>

<p>A palestra presta-se idealmente para alunos do &uacute;ltimo ano do ensino m&eacute;dio,&nbsp; alunos de licenciatura e professores de matem&aacute;tica e ci&ecirc;ncias e p&uacute;blico em geral com essa forma&ccedil;&atilde;o m&iacute;nima de enisno m&eacute;dio.</p>

<h2>Recursos</h2>

<ul>
	<li>No m&iacute;nimo 20 participantes, para o teatrinho.</li>
	<li>Espa&ccedil;o suficiente na frente da sala para caberem todos os atores do teatrinho.</li>
	<li>Computador com Power Point, data show e tela (ou parede branca) para as ilustra&ccedil;&otilde;es.</li>
	<li>Quadro negro ou branco, ou flip chart.</li>
	<li>Meia folha de papel sulfite para cada participante, para a avalia&ccedil;&atilde;o final &ndash; pode ser de rascunho, com a parte detr&aacute;s escrita.</li>
</ul>

<h2>Dura&ccedil;&atilde;o</h2>

<p>Duas horas</p>

<h2>Avalia&ccedil;&atilde;o</h2>

<p>No fim da palestra, os participantes fazem uma breve avalia&ccedil;&atilde;o por escrito (one-minute paper) respondendo as seguintes perguntas:<br />
1. Qual foi a coisa mais importante que aprendi?&nbsp;<br />
2. Qual foi a maior d&uacute;vida que ficou?&nbsp;<br />
3. Coment&aacute;rios.</p>

<p>Ver <strong><a href="https://www.ime.usp.br/~vwsetzer/pals/concentr-medit-avaliacoes.html">avalia&ccedil;&otilde;es de participantes</a></strong>.</p>

<h2>Bibliografia</h2>

<ul>
	<li>Setzer, V.W. &quot;O Computador a papel - uma atividade pedag&oacute;gica para a introdu&ccedil;&atilde;o de conceitos b&aacute;sicos de computadores&quot; em <a href="https://www.ime.usp.br/~vwsetzer/comp-papel.html">www.ime.usp.br/~vwsetzer/comp-papel.html</a></li>
	<li>Setzer, V.W. e Hirata, R. &quot;O dia da Computa&ccedil;&atilde;o (uma introdu&ccedil;&atilde;o r&aacute;pida ao computador e &agrave; computa&ccedil;&atilde;o).&quot; <em>Caderno da Revista do Professor de Matem&aacute;tica</em> Vol. 4, No. 1, 1993.</li>
	<li>Simulador do HIPO que funciona em qualquer navegador (ainda em melhoramento): <a href="https://seijihariki.github.io/HIPO-simulator/#/">https://seijihariki.github.io/HIPO-simulator/#/</a></li>
</ul>

<h2>Material na web</h2>

<p><a href="https://seijihariki.github.io/HIPO-simulator/#/">Simulador do HIPO</a>&nbsp;(em 4/4/18, em ingl&ecirc;s).</p>

<p><a href="https://www.ime.usp.br/~vwsetzer/hipo/using-the-HIPO-simulator.html">Como usar o simulador</a>&nbsp;(em ingl&ecirc;s).</p>
      </div>

    </div>




  </div>
    </div>

    <footer id="t3-footer" class="wrap t3-footer" style="background-color: #eeeeee; padding: 10px;">
      <div class="container" >


        <div class="row">
          <div class="col-md-1">
            <a href="http://www.ime.usp.br" target="_blank" >
              <img src="http://embaixadores.ime.usp.br/img/logo_ime.png">
            </a>
          </div>
          <div class="col-md-4">
            <b>Embaixadores da Matemática</b>

            <br><a href="http://www.ime.usp.br/ccex">Comissão de Cultura e Extensão</a>
            <br><a href="http://www.ime.usp.br">Instituto de Matemática e Estatística</a>
            <br><a href="http://www.usp.br">Universidade de São Paulo</a>

          </div>



          <div class="col-md-5 col-md-offset-2">
            <b>Contato</b>
            <br> Secretaria da CCEx do IME-USP

            <br> <i class="fas fa-location-arrow"></i> Rua do Matão, 1010 - CEP 05508-090 - São Paulo - SP</a>
            <br> <i class="fas fa-phone"></i>  (11) 3091-6170
            <br><i class="fas fa-envelope"></i>  <a href="mailto:ccex@ime.usp.br">ccex@ime.usp.br</a>
          </div>

        </div>
      </div>
    </footer>


  </div>

  <script src="http://embaixadores.ime.usp.br/js/app.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/vendor/unisharp/laravel-ckeditor/ckeditor.js"></script>
  <script>
  CKEDITOR.config.height = 500;
  CKEDITOR.config.removePlugins += "stylescombo,sourcearea,maximize";
  CKEDITOR.replace( 'palestra_single_form' );
  </script>



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123918243-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123918243-1');
  </script>


</body>
</html>
