<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY">

  <title>Embaixadores da Matemática</title>

  <!-- Styles -->
  <link href="http://embaixadores.ime.usp.br/css/app.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />


  <link href="http://embaixadores.ime.usp.br/css/fontawesome-all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />


  <!-- Scripts -->
  <script>
  window.Laravel = {"csrfToken":"uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY"};
    </script>
    <link href="//embaixadores.ime.usp.br/captcha-handler?get=bdc-layout-stylesheet.css" type="text/css" rel="stylesheet">
  </head>


  <body>
    <div id="app">
      <!------------------------ logo embaixadores ------------------ -->
      <div class="container-fluid wrap" style="background-color: #ffffff; padding-top: 10px; padding-bottom:10px">
        <div class="row">
          <div class="col-md-9 col-md-offset-3"  >
            <a href="/" title="Embaixadores da Matemática" >
              <img class="header-logo" src="http://embaixadores.ime.usp.br/img/logo_embaixadores.png" alt="Embaixadores da Matemática" title="Embaixadores da Matemática"  />
            </a>
          </div>
        </div>
      </div>
      <!-- fim do logo embaixadores -->

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->

          </div>

          <div class="navbar-collapse collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->

            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br"><i class="fas fa-home"></i> Página inicial</a></li>
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br/realizadas"><i class="fas fa-thumbs-up"></i> Palestras realizadas</a></li>
            </ul>


            <!-- ul criada -->
            <ul class="nav navbar-nav">
                          </ul>
            <!-- fim da ul criada -->


            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

              
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
  


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="text-center">
        <h1>A máquina de Turing e o que os computadores podem e não podem fazer</h1>
        Valdemar W. Setzer

                  <br>
          IME-USP
        
                  <br>
          <a href="http://www.ime.usp.br/~vwsetzer" target="_blank">http://www.ime.usp.br/~vwsetzer</a>
              </div>

                      
            


      <div class="text-justify">
        <h2>Objetivo</h2>

<p>Mostrar qual &eacute; a ess&ecirc;ncia dos computadores e suas limita&ccedil;&otilde;es, e o que &eacute; um algoritmo por meio da M&aacute;quina de Turing.&nbsp;Comparar com as atividades mentais dos seres humanos e desmistificar a ideia de que os computadores suplantar&atilde;o os seres humanos em todas as suas caracter&iacute;sticas e capacidades. Abordar quest&otilde;es filos&oacute;ficas da computa&ccedil;&atilde;o.</p>

<h2>Resumo</h2>

<p>Hist&oacute;rico. O Problema da Decidibilidade de Hilbert. Surge Alan Turing. A M&aacute;quina de Turing (MT). Exerc&iacute;cios. Caracter&iacute;sticas da MT. Tipos de instru&ccedil;&otilde;es e pot&ecirc;ncia da MT. Tese de Church-Turing. A MT universal. M&aacute;quinas podem ter sensa&ccedil;&otilde;es e sentimentos? Alan Turing e o Problema da Decidibilidade. O Problema da Parada. M&aacute;quinas podem pensar e ser inteligentes? O Teste de Turing. Extens&otilde;es de Steven Hanard. O &quot;Quarto Chin&ecirc;s&quot; de John Searle. As quest&otilde;es da &quot;singularidade tecnol&oacute;gica&quot; e da &quot;digitaliza&ccedil;&atilde;o do c&eacute;rebro&quot;. Transi&ccedil;&otilde;es n&atilde;o-deterministas na MT e em seres vivos, e a quest&atilde;o do livre arb&iacute;trio. O ser humano &eacute; uma m&aacute;quina, isto &eacute;, &eacute; puramente f&iacute;sico?</p>

<h2>P&uacute;blico Alvo</h2>

<p>Estudantes de gradua&ccedil;&atilde;o e p&oacute;s-gradua&ccedil;&atilde;o, especialmente de cursos de computa&ccedil;&atilde;o, e p&uacute;blico em geral com o requisito abaixo.</p>

<h2>Requisito</h2>

<p>Ensino m&eacute;dio completo.</p>

<h2>Material necess&aacute;rio</h2>

<ul>
	<li>Micro com Power Point,&nbsp;<em>datashow</em>, tela e quadro negro ou&nbsp;<em>flip chart</em>&nbsp;ao lado da tela.</li>
	<li>Meia folha de papel sulfite para a avalia&ccedil;&atilde;o final, para cada participante;&nbsp;pode ser de rascunho, com o verso escrito.</li>
</ul>

<h2>Dura&ccedil;&atilde;o</h2>

<p>Duas horas; ideal 3 horas com intervalo</p>

<h2>Avalia&ccedil;&atilde;o</h2>

<p>No fim da palestra, os participantes respondem as seguintes perguntas em um peda&ccedil;o de papel (&quot;<em>&nbsp;One-minute paper</em>):<br />
1. O que aprendi de mais importante?<br />
2. Qual a maior d&uacute;vida que ficou?<br />
3. Comentarios.</p>

<p>Ver <strong><a href="http://www.ime.usp.br/~vwsetzer/pals/Turing-avaliacoes.html">avalia&ccedil;&otilde;es de participantes</a></strong>.</p>

<h2>Bibliografia</h2>

<ul>
	<li>Hodges, A.&nbsp;<em>Alan Turing: The Enigma</em>. Vintage, 1992.</li>
	<li><a href="https://pt.wikipedia.org/wiki/M%C3%A1quina_de_Turing">Wiki: A M&aacute;quina de Turing</a></li>
	<li><a href="https://pt.wikipedia.org/wiki/Teste_de_Turing">Wiki: Teste de Turing</a></li>
	<li>Setzer, V.W.&nbsp;<a href="https://www.ime.usp.br/~vwsetzer/Turing-teatro.html">Alan Turing e a Ci&ecirc;ncia da Computa&ccedil;&atilde;o</a></li>
</ul>

<h2>Material na web</h2>

<p><a href="https://www.ime.usp.br/~vwsetzer/apresentacoes/Maq-Turing-essencia-comps.pps">Apresenta&ccedil;&atilde;o em Power Point</a>&nbsp;usada na palestra.</p>
      </div>

    </div>




  </div>
    </div>

    <footer id="t3-footer" class="wrap t3-footer" style="background-color: #eeeeee; padding: 10px;">
      <div class="container" >


        <div class="row">
          <div class="col-md-1">
            <a href="http://www.ime.usp.br" target="_blank" >
              <img src="http://embaixadores.ime.usp.br/img/logo_ime.png">
            </a>
          </div>
          <div class="col-md-4">
            <b>Embaixadores da Matemática</b>

            <br><a href="http://www.ime.usp.br/ccex">Comissão de Cultura e Extensão</a>
            <br><a href="http://www.ime.usp.br">Instituto de Matemática e Estatística</a>
            <br><a href="http://www.usp.br">Universidade de São Paulo</a>

          </div>



          <div class="col-md-5 col-md-offset-2">
            <b>Contato</b>
            <br> Secretaria da CCEx do IME-USP

            <br> <i class="fas fa-location-arrow"></i> Rua do Matão, 1010 - CEP 05508-090 - São Paulo - SP</a>
            <br> <i class="fas fa-phone"></i>  (11) 3091-6170
            <br><i class="fas fa-envelope"></i>  <a href="mailto:ccex@ime.usp.br">ccex@ime.usp.br</a>
          </div>

        </div>
      </div>
    </footer>


  </div>

  <script src="http://embaixadores.ime.usp.br/js/app.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/vendor/unisharp/laravel-ckeditor/ckeditor.js"></script>
  <script>
  CKEDITOR.config.height = 500;
  CKEDITOR.config.removePlugins += "stylescombo,sourcearea,maximize";
  CKEDITOR.replace( 'palestra_single_form' );
  </script>



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123918243-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123918243-1');
  </script>


</body>
</html>
