<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY">

  <title>Embaixadores da Matemática</title>

  <!-- Styles -->
  <link href="http://embaixadores.ime.usp.br/css/app.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />


  <link href="http://embaixadores.ime.usp.br/css/fontawesome-all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />


  <!-- Scripts -->
  <script>
  window.Laravel = {"csrfToken":"uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY"};
    </script>
    <link href="//embaixadores.ime.usp.br/captcha-handler?get=bdc-layout-stylesheet.css" type="text/css" rel="stylesheet">
  </head>


  <body>
    <div id="app">
      <!------------------------ logo embaixadores ------------------ -->
      <div class="container-fluid wrap" style="background-color: #ffffff; padding-top: 10px; padding-bottom:10px">
        <div class="row">
          <div class="col-md-9 col-md-offset-3"  >
            <a href="/" title="Embaixadores da Matemática" >
              <img class="header-logo" src="http://embaixadores.ime.usp.br/img/logo_embaixadores.png" alt="Embaixadores da Matemática" title="Embaixadores da Matemática"  />
            </a>
          </div>
        </div>
      </div>
      <!-- fim do logo embaixadores -->

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->

          </div>

          <div class="navbar-collapse collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->

            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br"><i class="fas fa-home"></i> Página inicial</a></li>
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br/realizadas"><i class="fas fa-thumbs-up"></i> Palestras realizadas</a></li>
            </ul>


            <!-- ul criada -->
            <ul class="nav navbar-nav">
                          </ul>
            <!-- fim da ul criada -->


            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

              
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
  


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="text-center">
        <h1>A sequência e a espiral de Fibonacci, a razão e a espiral áureas, suas ocorrências na natureza e aplicações</h1>
        Valdemar W. Setzer

                  <br>
          IME-USP
        
                  <br>
          <a href="http://www.ime.usp.br/~vwsetzer" target="_blank">http://www.ime.usp.br/~vwsetzer</a>
              </div>

                      
            


      <div class="text-justify">
        <h2>Objetivo</h2>

<p>Esta palestra/oficina tem a inten&ccedil;&atilde;o de mostrar, de uma maneira unificada, v&aacute;rios aspectos interessantes da matem&aacute;tica, n&atilde;o cobertos pelo curr&iacute;culo normal.&nbsp;Esta palestra, quando dada para alunos e professores, &eacute; parte do projeto Embaixadores da Matem&aacute;tica do IME.</p>

<p>Quando dada a alunos de escolas, &eacute; interessante os professores ficarem depois da palestra para, em 10 min, discutirem-se os aspectos did&aacute;ticos empregados que resultam nas avali&ccedil;&otilde;es que s&atilde;o feitas pelos participantes.</p>

<h2>Resumo</h2>

<p>Espirais. A espiral e a sequ&ecirc;ncia de Fibonacci. Biografia de Fibonacci. Generaliza&ccedil;&atilde;o da sequ&ecirc;ncia de Fibonacci. No&ccedil;&otilde;es de converg&ecirc;ncia e de limite. A raz&atilde;o &aacute;urea, sua dedu&ccedil;&atilde;o, constru&ccedil;&atilde;o geom&eacute;trica e propriedades. Fra&ccedil;&otilde;es e ra&iacute;zes cont&iacute;nuas. F&oacute;rmulas de recorr&ecirc;ncia. Espirais logar&iacute;tmicas. Biografia de Jacob Bernoulli. Espirais &aacute;ureas. Ocorr&ecirc;ncias na natureza: plantas, caramujos, furac&otilde;es, gal&aacute;xias espirais. Propor&ccedil;&otilde;es &aacute;ureas no corpo humano e na pintura. O ret&acirc;ngulo e o tri&acirc;ngulo &aacute;ureos na gera&ccedil;&atilde;o de espirais. Uso da propor&ccedil;&atilde;o &aacute;urea em objetos. Instrumentos para gera&ccedil;&atilde;o de propor&ccedil;&otilde;es &aacute;ureas. Aplica&ccedil;&atilde;o na odontologia.</p>

<h2>Requisitos</h2>

<p>O &uacute;nico pr&eacute;-requisito &eacute; o conhecimento da equa&ccedil;&atilde;o do 2o grau e suas ra&iacute;zes.</p>

<h2>P&uacute;blico Alvo</h2>

<p>Estudantes de ensino m&eacute;dio ou superior. P&uacute;blico em geral interessado, em particular para as pessoas que ainda n&atilde;o gostam de matem&aacute;tica.</p>

<h2>Material necess&aacute;rio</h2>

<ul>
	<li>Para cada aluno, l&aacute;pis, borracha, meia folha de papel sulfite (para a avalia&ccedil;&atilde;o final; pode ser de rascunho, com o verso escrito), uma folha de papel alma&ccedil;o grande (do tipo que vem dobrada) quadriculada com quadradrinhos com 0,5 ou 0,6 cm de lado; a folha deve ser de papel alma&ccedil;o pois alguns desenhos, feitos a m&atilde;o livre, ser&atilde;o grandes.</li>
	<li>Computador com Power Point, data show e tela (ou parede branca) para as ilustra&ccedil;&otilde;es.</li>
	<li>Quadro negro ou branco, ou flip chart, (aten&ccedil;&atilde;o!) ao lado da tela do data show.</li>
	<li>Carteiras para os alunos poderem desenhar, ou prancheta para cada aluno. Em &uacute;ltimo caso, os participantes podem usar um caderno grande de capa dura como apoio.</li>
	<li><strong>Aten&ccedil;&atilde;o:</strong>&nbsp;Se a aula for para escolas, &eacute; absolutamente essencial que professores estejam permanentemente presentes, para ajudar os alunos nos exerc&iacute;cios e a manter a disciplina. &Eacute; interessante que entre eles estejam professores de matem&aacute;tica e de ci&ecirc;ncias, para uma discuss&atilde;o posterior, de 10 min,&nbsp;sobre os aspectos did&aacute;ticos da aula.</li>
</ul>

<h2>Dura&ccedil;&atilde;o</h2>

<p>Duas horas, preferivelmente mais pelo menos meia hora. Ideal: 3 horas com intervalo.</p>

<h2>Avalia&ccedil;&atilde;o</h2>

<p>No fim da aula, os participantes fazem uma breve avalia&ccedil;&atilde;o por escrito (one-minute paper) respondendo as seguintes perguntas:<br />
1. Qual foi a coisa mais importante que aprendi?<br />
2. Qual foi a maior d&uacute;vida que ficou?<br />
3. Coment&aacute;rios.<br />
<br />
Ver&nbsp;<strong><a href="http://www.ime.usp.br/~vwsetzer/pals/Fibonacci-avaliacoes.html">avalia&ccedil;&otilde;es feitas por participantes</a>.</strong></p>

<h2>Bibliografia</h2>

<ul>
	<li>Chandra, Pravin e&nbsp;Eric. W. Weisstein. &#39;Fibonacci Number.&#39; From MathWorld &ndash; A&nbsp;<br />
	Wolfram Web Resource. <a href="http://mathworld.wolfram.com/FibonacciNumber.html">http://mathworld.wolfram.com/FibonacciNumber.html</a>&nbsp;<br />
	(consultado em 17/10/15).</li>
	<li>Doczi, Gy&ouml;rgy.<em> O Poder dos Limites: harmonias e propor&ccedil;&otilde;es na natureza,&nbsp;<br />
	arte e arquitetura</em>. Trad. M.H.O. Tricca e J.B.Bartolomei. S&atilde;o Paulo: Publica&ccedil;&otilde;es&nbsp;<br />
	Mercuryo Novo Tempo, 6&ordf; ed 2012.</li>
	<li>Hemenway, Pryia. <em>O C&oacute;digo Secreto</em>:<em> A f&oacute;rmula misteriosa que governa a arte, a&nbsp;<br />
	natureza e a ci&ecirc;ncia</em>. Ed. Evergreen, 2010.</li>
	<li>Spira, M. &ldquo;Sobre o cartaz da OBMEP [Olimp&iacute;ada Brasileira de Matem&aacute;tica das Escolas P&uacute;blicas]&nbsp;2018&rdquo;, folheto sobre espirais logar&iacute;tmicas:<br />
	<a href="http://http://www.obmep.org.br/docs/curiosidade_cartaz_obmep2018.pdf">http://www.obmep.org.br/docs/curiosidade_cartaz_obmep2018.pdf</a></li>
	<li>Weisstein, Eric W. &#39;Golden Ratio&#39;. From MathWorld &ndash; A Wolfram Web Resource.&nbsp;<br />
	<a href="http://mathworld.wolfram.com/GoldenRatio.html (consultado em 17/10/15)">http://mathworld.wolfram.com/GoldenRatio.html</a> (consultado em 17/10/15).</li>
</ul>

<h2>Material na web</h2>

<p>Durante a aula, um projetor (<em>datashow</em>) &eacute; usado apenas para as ilustra&ccedil;&otilde;es em forma de imagens; o resto &eacute; feito no quadro negro ou pelos alunos. Ver o&nbsp;<a href="http://www.ime.usp.br/~vwsetzer/apresentacoes/Fibonacci-roteiro-aula.pps">roteiro detalhado&nbsp;</a>com essas ilustra&ccedil;&otilde;es e texto cobrindo boa parte dos detalhes da palestra.</p>

<p>Desse roteiro, ver apenas as&nbsp;<a href="http://www.ime.usp.br/~vwsetzer/apresentacoes/Fibonacci-espiral-imagens.pps">ilustra&ccedil;&otilde;es que s&atilde;o projetadas na palestra</a>.</p>

<p><a href="http://www.ime.usp.br/~vwsetzer/pals/Fibonacci-avaliacoes.html">Avalia&ccedil;&otilde;es feitas por participantes</a>.</p>
      </div>

    </div>




  </div>
    </div>

    <footer id="t3-footer" class="wrap t3-footer" style="background-color: #eeeeee; padding: 10px;">
      <div class="container" >


        <div class="row">
          <div class="col-md-1">
            <a href="http://www.ime.usp.br" target="_blank" >
              <img src="http://embaixadores.ime.usp.br/img/logo_ime.png">
            </a>
          </div>
          <div class="col-md-4">
            <b>Embaixadores da Matemática</b>

            <br><a href="http://www.ime.usp.br/ccex">Comissão de Cultura e Extensão</a>
            <br><a href="http://www.ime.usp.br">Instituto de Matemática e Estatística</a>
            <br><a href="http://www.usp.br">Universidade de São Paulo</a>

          </div>



          <div class="col-md-5 col-md-offset-2">
            <b>Contato</b>
            <br> Secretaria da CCEx do IME-USP

            <br> <i class="fas fa-location-arrow"></i> Rua do Matão, 1010 - CEP 05508-090 - São Paulo - SP</a>
            <br> <i class="fas fa-phone"></i>  (11) 3091-6170
            <br><i class="fas fa-envelope"></i>  <a href="mailto:ccex@ime.usp.br">ccex@ime.usp.br</a>
          </div>

        </div>
      </div>
    </footer>


  </div>

  <script src="http://embaixadores.ime.usp.br/js/app.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/vendor/unisharp/laravel-ckeditor/ckeditor.js"></script>
  <script>
  CKEDITOR.config.height = 500;
  CKEDITOR.config.removePlugins += "stylescombo,sourcearea,maximize";
  CKEDITOR.replace( 'palestra_single_form' );
  </script>



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123918243-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123918243-1');
  </script>


</body>
</html>
