<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY">

  <title>Embaixadores da Matemática</title>

  <!-- Styles -->
  <link href="http://embaixadores.ime.usp.br/css/app.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />


  <link href="http://embaixadores.ime.usp.br/css/fontawesome-all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />


  <!-- Scripts -->
  <script>
  window.Laravel = {"csrfToken":"uIaMvMDjvCQKNELD2sIAqQUNy5oeVBaaPsmdxMLY"};
    </script>
    <link href="//embaixadores.ime.usp.br/captcha-handler?get=bdc-layout-stylesheet.css" type="text/css" rel="stylesheet">
  </head>


  <body>
    <div id="app">
      <!------------------------ logo embaixadores ------------------ -->
      <div class="container-fluid wrap" style="background-color: #ffffff; padding-top: 10px; padding-bottom:10px">
        <div class="row">
          <div class="col-md-9 col-md-offset-3"  >
            <a href="/" title="Embaixadores da Matemática" >
              <img class="header-logo" src="http://embaixadores.ime.usp.br/img/logo_embaixadores.png" alt="Embaixadores da Matemática" title="Embaixadores da Matemática"  />
            </a>
          </div>
        </div>
      </div>
      <!-- fim do logo embaixadores -->

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->

          </div>

          <div class="navbar-collapse collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->

            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br"><i class="fas fa-home"></i> Página inicial</a></li>
              <li><a class="navbar-brand" href="http://embaixadores.ime.usp.br/realizadas"><i class="fas fa-thumbs-up"></i> Palestras realizadas</a></li>
            </ul>


            <!-- ul criada -->
            <ul class="nav navbar-nav">
                          </ul>
            <!-- fim da ul criada -->


            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

              
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
  


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="text-center">
        <h1>A matemática dos nós</h1>
        Eduardo Colli

                  <br>
          IME-USP
        
                  <br>
          <a href="http://www.ime.usp.br/colli" target="_blank">http://www.ime.usp.br/colli</a>
              </div>

                      
            


      <div class="text-justify">
        <h2>Objetivo</h2>

<p>O tema dos n&oacute;s e enlaces do ponto de vista matem&aacute;tico &eacute; uma boa maneira de mostrar que a matem&aacute;tica vai muito al&eacute;m do que &eacute; visto no curr&iacute;culo escolar. O incr&iacute;vel &eacute; que d&aacute; para falar desse assunto usando cordinhas e experimentando &agrave; vontade!</p>

<h2>Resumo</h2>

<p>Cordinhas para se familiarizar com os n&oacute;s. O fracasso de Lord Kelvin em explicar a tabela peri&oacute;dica. O que s&atilde;o n&oacute;s e enlaces. Exemplos. O desafio de tabelar e classificar os n&oacute;s. Proje&ccedil;&atilde;o de um n&oacute;. O que s&atilde;o n&oacute;s equivalentes. Como mostrar equival&ecirc;ncia. Como mostrar n&atilde;o equival&ecirc;ncia: o conceito de invariante. Tricolorabilidade. Polin&ocirc;mios. Um futuro de aplica&ccedil;&otilde;es?</p>

<h2>Requisitos</h2>

<p>A partir do 9o EF.</p>

<h2>Dura&ccedil;&atilde;o</h2>

<p>1h30, para dar tempo de conversar um pouco, inclusive sobre os cursos do IME.</p>

<h2>Bibliografia</h2>

<p>The Knot Book, de Colin Adams (em ingl&ecirc;s)</p>
      </div>

    </div>




  </div>
    </div>

    <footer id="t3-footer" class="wrap t3-footer" style="background-color: #eeeeee; padding: 10px;">
      <div class="container" >


        <div class="row">
          <div class="col-md-1">
            <a href="http://www.ime.usp.br" target="_blank" >
              <img src="http://embaixadores.ime.usp.br/img/logo_ime.png">
            </a>
          </div>
          <div class="col-md-4">
            <b>Embaixadores da Matemática</b>

            <br><a href="http://www.ime.usp.br/ccex">Comissão de Cultura e Extensão</a>
            <br><a href="http://www.ime.usp.br">Instituto de Matemática e Estatística</a>
            <br><a href="http://www.usp.br">Universidade de São Paulo</a>

          </div>



          <div class="col-md-5 col-md-offset-2">
            <b>Contato</b>
            <br> Secretaria da CCEx do IME-USP

            <br> <i class="fas fa-location-arrow"></i> Rua do Matão, 1010 - CEP 05508-090 - São Paulo - SP</a>
            <br> <i class="fas fa-phone"></i>  (11) 3091-6170
            <br><i class="fas fa-envelope"></i>  <a href="mailto:ccex@ime.usp.br">ccex@ime.usp.br</a>
          </div>

        </div>
      </div>
    </footer>


  </div>

  <script src="http://embaixadores.ime.usp.br/js/app.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/vendor/unisharp/laravel-ckeditor/ckeditor.js"></script>
  <script>
  CKEDITOR.config.height = 500;
  CKEDITOR.config.removePlugins += "stylescombo,sourcearea,maximize";
  CKEDITOR.replace( 'palestra_single_form' );
  </script>



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123918243-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123918243-1');
  </script>


</body>
</html>
